<body>
  <div id="wrapper">
    <div id="top">
      <div id="menubar">
        <ul id="top_menu">
          <li><a href="#1" class="cho">
            <%= image_tag('/assets/HO.png', { :border => '0', :alt => 'リンクです'}) %>
          </a></li>
          <li class="about_me">


            <%= image_tag('/assets/ABOUT ME.png', { :border => '0', :alt => 'リンクです'}) ,{:anchor =>"ppp"} %>
          </a></li>
          <li><a href="portfolio" class="scrollable">
            <%= image_tag('/assets/PORTFOLIO.png', { :border => '0', :alt => 'リンクです'}) ,{:anchor =>"ddd"}%>
          </a></li>
          <li><a href="favorite" class="scrollable">
            <%= image_tag('/assets/FAVORITE.png', { :border => '0', :alt => 'リンクです'}),{:anchor =>"fff"}  %>
          </a></li>
          <li class="contact"><a href="contact" class="scrollable">
             <%=  image_tag('/assets/CONTACT.png', { :border => '0', :alt => 'リンクです'}),{:anchor =>"ccc"} %>
          </a></li>
        </ul>
      </div>

      <div class="logo">
      <img src="<%= asset_path "/assets/LOGO.png" %>" alt="" id="logo"/>
    </div>
    </div>
 <div id="ppp">
  <div id="profile">


    <img src="<%= asset_path "/assets/cdore.png" %>" alt=""  height="500px" id="ore" class="cdore"/>
    <img src="<%= asset_path "/assets/bdore.png" %>" alt=""  height="500px" id="ure" class="bdore"/>

      <div id="ptext">
        <h1 class="hello">Hello</h1>
        <p1 class="p1text">Im Hayato Oyanagi,Japanese Engeneer and Designer
        </p1>
      </div>
   <div id="plink">
    <table id="plinkto">
      <tr id="linkall">
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('/assets/tw.png', { :border => '0', :alt => 'リンクです'}),  "https://twitter.com/HayatoHayatooo" %></a>
        </td>
        <td class="plinkto">
          <a class="linkall" ><%= link_to image_tag('/assets/fb.png', { :border => '0', :alt => 'リンクです'}),  "https://www.facebook.com/hayato.oyanagi.7" %></a>
        </td>
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('/assets/inst.png', { :border => '0', :alt => 'リンクです'}),  "https://www.instagram.com/_o_y_a/" %></a>
        </td>
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('/assets/lin.png', { :border => '0', :alt => 'リンクです'}),  "https://www.linkedin.com/in/hayato-oyanagi-a227b910a?trk=nav_responsive_tab_profile_pic" %></a>
        </td>
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('/assets/git.png', { :border => '0', :alt => 'リンクです'}),  "https://github.com/oyaoyaoya" %></a>
        </td>
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('/assets/sc.png', { :border => '0', :alt => 'リンクです'}),  "https://soundcloud.com/hayato-oyanagi" %></a>
        </td>
      </tr>
    </table>
   </div>
  </div>
</div>


<div id="ddd">
  <div id="portfolioscript">
    <h2>
    Portfolio
    </h2>
    <h3>Since 2016~
    </h3>
  </div>

  <div class="accordian">
  	<ul>
  		<li>
  			<div class="image_title">
　　　　　　<%= link_to image_tag('/assets/sugi.png', { :border => '0', :alt => 'リンクです'}),  "http://www.slideshare.net/HayatoOyanagi/ss-59888074" %>
          <%= link_to"",""%>
  			</div>
  			<a href="#">
  				<%= image_tag("sugi.png") %>
  			</a>
  		</li>
  		<li>
  			<div class="image_title">
  			</div>
  			<a href="#">
  				<%= image_tag("kunugi.png") %>
  			</a>
  		</li>
  		<li>
  			<div class="image_title">
  			</div>
  			<a href="#">
  				<%= image_tag("sugi.png") %>
  			</a>
  		</li>
  		<li>
  			<div class="image_title">
  			</div>
  			<a href="#">
  				<%= image_tag("kunugi.png") %>
  			</a>
  		</li>
  		<li>
  			<div class="image_title">
  			</div>
  			<a href="#">
  				<%= image_tag("sugi.png") %>
  			</a>
  		</li>
  	</ul>
  </div>
</div>


<div id="fff">
 <div id="fav">
  <ul class="tabs">
    <li>
      <input name="tab" id="tab1" type="radio" />
      <label for="tab1" ><%= image_tag'music.png',:width=>'200',:height=>'auto', :id=>'mlink'%></label>
      <div class="contents tab1">
        <table>
        　　　  <tr>
        　　　    <td>
        　　　      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A0xzSCTKG7drUQO5Vy6E3Y5" width="300" height="380" frameborder="0" allowtransparency="true" ></iframe>
        　　　    </td>
        　　　    <td>
        　　　      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A7vBBL9qR7sgvb0vD04iLTk" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        　　　    </td>
        　　　    <td>
        　　　      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A3W1EslAC7UG7Zx0v8eXz2D" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        　　　    </td>
                 <td>
                   <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A6k7SAxbxJkg7evt4CaCPtm" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                 </td>
        　　　  </tr>
        <tr>
        　　　
        　　　  </tr>
        　　　</table>
      </div>
    </li>
    <li>
      <input name="tab" id="tab2" type="radio"/>
      <label for="tab2" ><%= image_tag'book.png',:width=>'200',:height=>'auto',:id=>'blink'%></label>
      <div class="contentstab2">
        <SCRIPT charset="utf-8" type="text/javascript" class="amazon" src="http://ws-fe.amazon-adsystem.com/widgets/q?rt=tf_ssw&ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Foyaoyaoya087-22%2F8003%2F8019c47f-4e42-4c77-885b-bdd9d7e73f34&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A rel="nofollow" HREF="http://ws-fe.amazon-adsystem.com/widgets/q?rt=tf_ssw&ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Foyaoyaoya087-22%2F8003%2F8019c47f-4e42-4c77-885b-bdd9d7e73f34&Operation=NoScript">Amazon.co.jp ウィジェット</A></NOSCRIPT>
      </div>
    </li>

  </ul>
</div>
</div>

  <footer id="ccc">
    <img src="<%= asset_path "/assets/footer.png" %>" alt="" id="footer"/>
  </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<%= javascript_include_tag "application" %>

</body>
