<script type="javascript/applicationjs">
</script>
<head>
</head>
<body>

  <div id="wrapper">
    <div id="top">
      <div id="menubar">
        <ul id="top_menu">
          <li><a href="ho" class="cho">
            <%= link_to image_tag('/assets/HO.png', { :border => '0', :alt => 'リンクです'}) %>
          </a></li>
          <li class="about_me"><a href="aboutme" class="scrollable">
            <%= link_to image_tag('/assets/ABOUT ME.png', { :border => '0', :alt => 'リンクです'}) %>
          </a></li>
          <li><a href="portfolio" class="scrollable">
            <%= link_to image_tag('/assets/PORTFOLIO.png', { :border => '0', :alt => 'リンクです'}) %>
          </a></li>
          <li><a href="favorite" class="scrollable">
            <%= link_to image_tag('/assets/FAVORITE.png', { :border => '0', :alt => 'リンクです'}) %>
          </a></li>
          <li class="contact"><a href="contact" class="scrollable">
             <%= link_to image_tag('/assets/CONTACT.png', { :border => '0', :alt => 'リンクです'}) %>
          </a></li>
        </ul>
      </div>

      <div class="logo">
      <img src="<%= asset_path "/assets/LOGO.png" %>" alt="" id="logo"/>
    </div>
    </div>

  <div id="profile">
    <div class="effect">
      <span class="fa fa-child fa-5x">
    <img src="<%= asset_path "/assets/cdore.png" %>" alt=""  height="500px" id="ore" class="cdore"/>
    <img src="<%= asset_path "/assets/bdore.png" %>" alt=""  height="500px" id="ore" class="bdore"/>
  </span>
    </div>
      <div id="ptext">
        <h1 class="hello">Hello</h1>
        <p1 class="p1text">Im Hayato Oyanagi,Japanese Engeneer and Designer
        </p1>
      </div>
   <div id="plink">
    <table id="plinkto">
      <tr id="linkall">
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('/assets/tw.png', { :border => '0', :alt => 'リンクです'}),  "http://rubyonrails.org/" %></a>
        </td>
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('/assets/fb.png', { :border => '0', :alt => 'リンクです'}),  "http://rubyonrails.org/" %></a>
        </td>
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('/assets/inst.png', { :border => '0', :alt => 'リンクです'}),  "http://rubyonrails.org/" %></a>
        </td>
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('/assets/lin.png', { :border => '0', :alt => 'リンクです'}),  "http://rubyonrails.org/" %></a>
        </td>
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('/assets/git.png', { :border => '0', :alt => 'リンクです'}),  "http://rubyonrails.org/" %></a>
        </td>
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('/assets/sc.png', { :border => '0', :alt => 'リンクです'}),  "http://rubyonrails.org/" %></a>
        </td>
      </tr>
    </table>
   </div>
  </div>


  <div id="portfolioscript">
    <h2>
    Portfolio
    </h2>
    <h3>Since 2016~
    </h3>
  </div>

  <div class="accordian">
  	<ul>
  		<li>
  			<div class="image_title">
  				<p>KungFu Panda</p>
          <%= link_to"すぎ",""%>
  			</div>
  			<a href="#">
  				<%= image_tag("sugi.png") %>
  			</a>
  		</li>
  		<li>
  			<div class="image_title">
  				<a href="#">Toy Story 2</a>
  			</div>
  			<a href="#">
  				<%= image_tag("kunugi.png") %>
  			</a>
  		</li>
  		<li>
  			<div class="image_title">
  				<a href="#">Wall-E</a>
  			</div>
  			<a href="#">
  				<%= image_tag("sugi.png") %>
  			</a>
  		</li>
  		<li>
  			<div class="image_title">
  				<a href="#">Up</a>
  			</div>
  			<a href="#">
  				<%= image_tag("kunugi.png") %>
  			</a>
  		</li>
  		<li>
  			<div class="image_title">
  				<a href="#">Cars 2</a>
  			</div>
  			<a href="#">
  				<%= image_tag("sugi.png") %>
  			</a>
  		</li>
  	</ul>
  </div>

  <ul class="tabs">
    <li>
      <input name="tab" id="tab1" type="radio" checked />
      <label for="tab1"><%= image_tag'book.png',:width=>'150',:height=>'auto'%></label>
      <div class="contents tab1">
        <table>
        　　　  <tr>
        　　　    <td>
        　　　      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A0xzSCTKG7drUQO5Vy6E3Y5" width="300" height="380" frameborder="0" allowtransparency="true" ></iframe>
        　　　    </td>
        　　　    <td>
        　　　      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A7vBBL9qR7sgvb0vD04iLTk" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        　　　    </td>
        　　　    <td>
        　　　      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A00GfiT5AxTNSDQihPeMRkM" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        　　　    </td>
                 <td>
                   <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A0NkbijHq0V6SmI28GpZFYm" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                 </td>
        　　　  </tr>
        <tr>
        　　　
        　　　  </tr>
        　　　</table>
      </div>
    </li>
    <li>
      <input name="tab" id="tab2" type="radio"/>
      <label for="tab2"><%= image_tag'book.png',:width=>'150',:height=>'auto'%></label>
      <div class="contents tab2">
      </div>
    </li>
    <li>
      <input name="tab" id="tab3" type="radio"/>
      <label for="tab3"><%= image_tag'book.png',:width=>'150',:height=>'auto'%></label>
      <div class="contents tab3">
      </div>
    </li>
  </ul>


  </div>



</body>
<header>
</header>
