<body>
  <div id="wrapper">
    <div id="top">
    <div id="topmenu">
    </div>
      <div id="menubar">
        <ul id="top_menu">
          <li><a href="#1" class="cho">
            <%= image_tag('HO.png', { :border => '0', :alt => 'リンクです'}) %>
          </a></li>
          <li class="about_me">


            <%= link_to image_tag('ABOUT ME.png', { :border => '0', :alt => 'リンクです'}) ,{:anchor =>"ppp"} %>
          </a></li>
          <li><a href="portfolio" class="scrollable">
            <%= link_to image_tag('PORTFOLIO.png', { :border => '0', :alt => 'リンクです'}) ,{:anchor =>"ddd"}%>
          </a></li>
          <li><a href="favorite" class="scrollable">
            <%= link_to image_tag('FAVORITE.png', { :border => '0', :alt => 'リンクです'}),{:anchor =>"fff"}  %>
          </a></li>
          <li class="contact"><a href="contact" class="scrollable">
             <%= link_to image_tag('CONTACT.png', { :border => '0', :alt => 'リンクです'}),{:anchor =>"ccc"} %>
          </a></li>
        </ul>
      </div>

      <div class="logo">
      <%= image_tag('LOGO.png', {:id => 'logo'}) %>
    </div>
    </div>
 <div id="ppp">
  <div id="profile">


    <img src="<%= asset_path "cdore.png" %>" alt=""  height="500px" id="ore" class="cdore"/>
    <img src="<%= asset_path "bdore.png" %>" alt=""  height="500px" id="ure" class="bdore"/>
<div id="pright">
  <div id="ptext">
        <h1 class="hello">Hello</h1>
        <p1 class="p1text">Im Hayato Oyanagi,Japanese Engeneer and Designer
        </p1>
  </div>
   <div id="plink">
    <table id="plinkto">
      <tr id="linkall">
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('tw.png', { :border => '0', :alt => 'リンクです'}),  "https://twitter.com/HayatoHayatooo" %></a>
        </td>
        <td class="plinkto">
          <a class="linkall" ><%= link_to image_tag('fb.png', { :border => '0', :alt => 'リンクです'}),  "https://www.facebook.com/hayato.oyanagi.7" %></a>
        </td>
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('inst.png', { :border => '0', :alt => 'リンクです'}),  "https://www.instagram.com/_o_y_a/" %></a>
        </td>
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('lin.png', { :border => '0', :alt => 'リンクです'}),  "https://www.linkedin.com/in/hayato-oyanagi-a227b910a?trk=nav_responsive_tab_profile_pic" %></a>
        </td>
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('git.png', { :border => '0', :alt => 'リンクです'}),  "https://github.com/oyaoyaoya" %></a>
        </td>
        <td class="plinkto">
          <a class="linkall"><%= link_to image_tag('sc.png', { :border => '0', :alt => 'リンクです'}),  "https://soundcloud.com/hayato-oyanagi" %></a>
        </td>
      </tr>
    </table>
   </div>
</div>

  </div>
</div>


<div id="ddd">
  <div id="portfolioscript">
    <h2>
    Portfolio
    </h2>
    <h3>Since 2016~
    </h3>
  </div>

  <div class="accordian" >
  	<ul>
      <li>
          <%= link_to image_tag('hoiku.png', { :border => '0', :alt => 'リンクです'}),  "https://www.linkedin.com/in/hayato-oyanagi-a227b910a?trk=nav_responsive_tab_profile_pic", {:class => 'linkall', :target => '_blank'} %>
      </li>
  		<li>
  				<%= image_tag("ringyo.png") %>
  		</li>
  		<li>
  				<%= image_tag("sugi.png",{:target => "_blank"}) %>
  		</li>
  		<li>
  				<%= image_tag("kunugi.png") %>
  		</li>
  		<li>
  				<%= image_tag("sugi.png") %>
  		</li>
  	</ul>
  </div>
</div>


<div id="fff">
 <div id="fav">
  <ul class="tabs">
    <li>
      <input name="tab" id="tab1" type="radio" />
      <label for="tab1" ><%= image_tag'music.png',:width=>'200',:height=>'auto', :id=>'mlink'%></label>
      <div class="contents tab1">
        <table>
        　　　  <tr>
        　　　    <td>
        　　　      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A0xzSCTKG7drUQO5Vy6E3Y5" width="300" height="380" frameborder="0" allowtransparency="true" ></iframe>
        　　　    </td>
        　　　    <td>
        　　　      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A7vBBL9qR7sgvb0vD04iLTk" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        　　　    </td>
        　　　    <td>
        　　　      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A3W1EslAC7UG7Zx0v8eXz2D" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        　　　    </td>
                 <td>
                   <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A6k7SAxbxJkg7evt4CaCPtm" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                 </td>
        　　　  </tr>
        <tr>
        　　　
        　　　  </tr>
        　　　</table>
      </div>
    </li>
    <li>
      <input name="tab" id="tab2" type="radio"/>
      <label for="tab2" ><%= image_tag'book.png',:width=>'200',:height=>'auto',:id=>'blink'%></label>

      <div class="contentstab2">

      </div>
    </li>

  </ul>
</div>
</div>


  <footer id="ccc">
      <%= image_tag('f1.png', :id => "f1") %>
  </footer>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<%= javascript_include_tag "application" %>
</body>
